<% 
  // Collect all flash messages from different variables
  const allMessages = [];
  
  // Check success messages
  if (typeof success_msg !== 'undefined' && success_msg && success_msg.length > 0) {
    success_msg.forEach(msg => allMessages.push({ type: 'success', text: msg }));
  }
  
  // Check error messages  
  if (typeof error_msg !== 'undefined' && error_msg && error_msg.length > 0) {
    error_msg.forEach(msg => allMessages.push({ type: 'danger', text: msg }));
  }
  
  // Check generic error messages
  if (typeof error !== 'undefined' && error && error.length > 0) {
    error.forEach(msg => allMessages.push({ type: 'danger', text: msg }));
  }
%>

<% if (allMessages.length > 0) { %>
    <div class="flash-messages-container">
        <% allMessages.forEach(message => { %>
            <div class="alert alert-<%= message.type %> alert-dismissible fade show" role="alert">
                <%= message.text %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% }); %>
    </div>
<% } %>