<footer class="main-footer bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>EduLMS</h5>
                <p>Educational Learning Management System designed to streamline academic processes and enhance learning experiences.</p>
                <div class="social-links">
                    <a href="#" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light me-3"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="text-light"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-2">
                <h6>Quick Links</h6>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-light">Home</a></li>
                    <li><a href="/about" class="text-light">About</a></li>
                    <li><a href="/contact" class="text-light">Contact</a></li>
                    <li><a href="/help" class="text-light">Help</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Academic</h6>
                <ul class="list-unstyled">
                    <li><a href="/courses" class="text-light">Courses</a></li>
                    <li><a href="/programs" class="text-light">Programs</a></li>
                    <li><a href="/library" class="text-light">Library</a></li>
                    <li><a href="/calendar" class="text-light">Academic Calendar</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Contact Info</h6>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt me-2"></i> 123 Education St, City</li>
                    <li><i class="fas fa-phone me-2"></i> +1 (555) 123-4567</li>
                    <li><i class="fas fa-envelope me-2"></i> info@edulms.edu</li>
                </ul>
            </div>
        </div>
        <hr class="bg-light">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; 2024 EduLMS. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="/privacy" class="text-light me-3">Privacy Policy</a>
                <a href="/terms" class="text-light">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>